
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


body {
  background-color: #fff;
}

.img-placeholder {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-weight: bold;
  overflow: hidden;
}

.img-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


header {
  background-color: #2e2e2e;
  color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #87ceeb;
  }
}

.logo h1 {
  font-size: 1.5rem;
  font-style: italic;
}

.logo span {
  font-weight: 300;
  font-size: 1rem;
  display: block;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: none;
  color: #87ceeb
}


.hero {
  width: 100%;
  height: 500px;
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background-color: rgba(30, 40, 50, 0.9);
  color: white;
  padding: 40px;
  max-width: 400px;
}

.hero-overlay h2 {
  font-style: italic;
  margin-bottom: 20px;
}

.hero-overlay p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.phone {
  color: #d4af37;
  font-weight: bold;
  font-size: 1.1rem;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
  gap: 40px;
  padding: 0 20px;
}

.col {
  flex: 1;
}

.section-header {
  padding: 15px;
  color: white;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-style: italic;
  display: flex;
  align-items: center;
}

.bg-blue {
  background-color: #009acd;
}

.bg-gold {
  background-color: #b8954f;
}

.text-content h3 {
  font-style: italic;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

.destinos-img {
  width: 100%;
  height: 250px;
}

.frota-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.frota-item {
  width: 100%;
  height: 120px;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
  color: #333;
  margin-top: 40px;
}